## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.65,115.33,55.99,85,100,11.01,light rain
1,1,Sao Joao Da Barra,BR,-21.64,-41.05,73.87,95,99,2.95,overcast clouds
2,2,Lavrentiya,RU,65.58,-171.00,27.90,97,93,9.42,overcast clouds
3,3,Manthani,IN,18.65,79.67,77.67,43,0,6.20,clear sky
4,4,Marsh Harbour,BS,26.54,-77.06,79.07,82,100,28.95,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Manthani,IN,18.65,79.67,77.67,43,0,6.20,clear sky
4,4,Marsh Harbour,BS,26.54,-77.06,79.07,82,100,28.95,overcast clouds
5,5,Georgetown,MY,5.41,100.34,84.20,74,20,3.36,light rain
10,10,Kahului,US,20.89,-156.47,77.00,78,20,14.99,few clouds
12,12,Saint-Philippe,RE,-21.36,55.77,78.80,74,20,18.34,few clouds
14,14,Namatanai,PG,-3.67,152.43,83.98,70,77,5.19,light rain
15,15,Vaini,TO,-21.20,-175.20,78.80,74,20,6.93,few clouds
17,17,Hilo,US,19.73,-155.09,75.20,83,90,3.36,overcast clouds
20,20,Poum,NC,-20.23,164.02,75.31,77,64,17.54,broken clouds
22,22,Isangel,VU,-19.55,169.27,75.85,78,87,18.70,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                199
City                   199
Country                198
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    199
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Not Required.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Manthani,IN,77.67,clear sky,18.65,79.67,
4,Marsh Harbour,BS,79.07,overcast clouds,26.54,-77.06,
5,Georgetown,MY,84.20,light rain,5.41,100.34,
10,Kahului,US,77.00,few clouds,20.89,-156.47,
12,Saint-Philippe,RE,78.80,few clouds,-21.36,55.77,
14,Namatanai,PG,83.98,light rain,-3.67,152.43,
15,Vaini,TO,78.80,few clouds,-21.20,-175.20,
17,Hilo,US,75.20,overcast clouds,19.73,-155.09,
20,Poum,NC,75.31,broken clouds,-20.23,164.02,
22,Isangel,VU,75.85,overcast clouds,-19.55,169.27,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Manthani,IN,77.67,clear sky,18.65,79.67,Social Welfare Boys Hostel
4,Marsh Harbour,BS,79.07,overcast clouds,26.54,-77.06,Abaco Beach Resort
5,Georgetown,MY,84.20,light rain,5.41,100.34,Cititel Penang
10,Kahului,US,77.00,few clouds,20.89,-156.47,Maui Seaside Hotel
12,Saint-Philippe,RE,78.80,few clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
14,Namatanai,PG,83.98,light rain,-3.67,152.43,Namatanai Hotel
15,Vaini,TO,78.80,few clouds,-21.20,-175.20,Keleti Beach Resort
17,Hilo,US,75.20,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
20,Poum,NC,75.31,broken clouds,-20.23,164.02,Gîte kajeon
22,Isangel,VU,75.85,overcast clouds,-19.55,169.27,Volcano Sea View Tree House

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, subset=['Hotel Name'])
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Manthani,IN,77.67,clear sky,18.65,79.67,Social Welfare Boys Hostel
4,Marsh Harbour,BS,79.07,overcast clouds,26.54,-77.06,Abaco Beach Resort
5,Georgetown,MY,84.20,light rain,5.41,100.34,Cititel Penang
10,Kahului,US,77.00,few clouds,20.89,-156.47,Maui Seaside Hotel
12,Saint-Philippe,RE,78.80,few clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
14,Namatanai,PG,83.98,light rain,-3.67,152.43,Namatanai Hotel
15,Vaini,TO,78.80,few clouds,-21.20,-175.20,Keleti Beach Resort
17,Hilo,US,75.20,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
20,Poum,NC,75.31,broken clouds,-20.23,164.02,Gîte kajeon
22,Isangel,VU,75.85,overcast clouds,-19.55,169.27,Volcano Sea View Tree House

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

       Lat     Lng
3    18.65   79.67
4    26.54  -77.06
5     5.41  100.34
10   20.89 -156.47
12  -21.36   55.77
..     ...     ...
685  22.21   69.67
686 -28.47   30.16
691   6.88   73.10
697  20.52  -13.05
698   1.74   98.78

[199 rows x 2 columns]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))